<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <title>Player Viewer</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-content>
          <v-container>
            <v-layout column>
              <div>
                <v-btn v-on:click="loadApi" color="primary">Load Data</v-btn>
              </div>
              <v-col class="d-flex" cols="12" sm="6">
                <v-select
                  v-if="apiData"
                  v-model="selectedCountry"
                  :items="apiData.nations"
                  label="Select Nation"
                  v-on:change="selectionChanged"
                ></v-select>
              </v-col>
            </v-layout>
            <v-content v-if="selectedCountry">
              {{apiData.top_10s[selectedCountry]}}
            </v-content>
          </v-container>
        </v-content>
        <pre>
            {{$data}}
        </pre>
      </v-app>
    </div>
  </body>
  <script src="scripts/framework/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="scripts/scripts.js"></script>
</html>
